<!DOCTYPE html>
<html lang="zh-Hant">
{% load static %}

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>MPWeb：海洋保護網站</title>

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merienda|Open+Sans" rel="stylesheet" />

  <!-- Fonts awesome -->
  <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <!-- style sheet --->
  <link rel="stylesheet" href="{% static 'css/style.css'%}" />

  <link href="{% static 'img/logo.png' %}" rel=icon type=image/x-icon>
</head>

<body>
  <section id="home">
    <!-- base_索引欄_open -->
    <nav class="navbar navbar-expand-lg fixed-top">
      <!-- <button class="navbar-toggler mr-auto custom-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <a class="navbar-brand" href="javascript:;" style="pointer-events: none; ">
        <img class="logo" src="{% static 'img/logo.png' %}" alt="" style="max-width: 70pt; height: auto;" />
        <small class="logo-text">　Marine Protection Website</small>
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item current">
            <a class="nav-link smoothscroll" href="#home">頁首</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smoothscroll" href="#analyze">海洋保護語料分析</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smoothscroll" href="#japan">日本の海洋永続</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smoothscroll" href="#ai">海洋保護小講堂</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smoothscroll" href="#art">SDGs14|美術展覽</a>
          </li>
          <li class="nav-item">
            <a class="nav-link smoothscroll" href="#gallery">文創小物</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer-end">頁末</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- base_索引欄_end -->
    <header>
      <div class="header-overlay"></div>
      <div class="video-header wrap">
        <div class="fullscreen-video-wrap">
          <video src="{% static 'media/home-bg.mp4'%}" autoplay loop muted></video>
        </div>
        <div class="header-content">
          <h1 class="display-4 mb-4">Marine Protection Website</h1>
          <h2 class="mb-5">AI數位人文導論-海洋保護網站</h2>
          <p>
            專案成員：<br>
            B112134308 余珮翎<br>
            C110190116 楊欣芸<br>
            C110134217 鄭宇哲
          </p>
          <button onclick="smoothScrollTo('analyze')" class="btn btn-header">
            開始閱讀
          </button>
        </div>
      </div>
    </header>

    <!--base_上去按鈕_open-->
    <button class="gotop" onclick="location.href='javascript:'">
      <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </button>
    <!--base_上去按鈕_end-->
  </section>

  <!-- base_appsContent_open -->
  {% block apps_content %}{% endblock %}



  <section id="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-10 mx-auto mb-5">
          <h4>工作分配</h4>
          <hr>
          <p>B112134308 余珮翎<br>日文語料庫匯集、網頁文本撰寫、<br><br>
            C110190116 楊欣芸<br>中文語料庫匯集、美術文創資源製作、<br><br>
            C110134217 鄭宇哲<br>中文語料庫匯集、網頁文本撰寫、網站架設、前端設計、</p>

        </div>
        <div class="col-md-3 col-sm-10 mx-auto mb-5">
          <h4>網站貢獻</h4>
          <hr>
          <ul class="footer-list">
            <li class="footer-item"><a href="#home">頁首</a>（宇哲）</li>
            <li class="footer-item"><a href="#analyze">海洋保護語料分析</a>（宇哲）</li>
            <li class="footer-item"><a href="#japan">日本の海洋永続</a>（珮翎）</li>
            <li class="footer-item"><a href="#ai">海洋保護小講堂</a>（宇哲）</li>
            <li class="footer-item"><a href="#art">SDGs14|美術展覽</a>（欣芸）</li>
            <li class="footer-item"><a href="#gallery">文創小物</a>（欣芸）</li>
            <li class="footer-item"><a href="/admin/" target="_blank">網站後端</a>（宇哲）</li>
          </ul>
        </div>
        <div class="col-md-5">
          <h4>參考資料</h4>
          <hr>
          <ul>
            <li>
              <a href="#analyze_source">
                海洋保護語料分析 (多個來源)
              </a>
            </li>
            <li>
              <a href="https://www.mofa.go.jp/mofaj/files/000101402.pdf" target="_blank">
                我々の世界を変革する：持続可能な開発のための2030アジェンダ
              </a>
            </li>
            <li>
              <a href="https://sdgs.edutown.jp/info/goals/goals-14.html" target="_blank">
                海の豊かさを守ろう
              </a>
            </li>
            <li>
              <a href="https://chatgpt.com/" target="_blank">
                ChatGPT
              </a>
            </li>
            <li>
              <a href="https://platform.openai.com/" target="_blank">
                OpenAI API (雲端LLM提供商)
              </a>
            </li>
            <li>
              <a href="https://youtu.be/HK_A0QrxoGA?si=d9oDomHA3lSkXMzp" target="_blank">
                動態背景資源
              </a>
            </li>
            <li>
              本網站已經過大範圍改造，原始模板來自：
              <a target="_blank" href="http://www.mobanwang.com/" title="模板王">模板王</a>
              </a>
            </li>
            <li>
              <a target="_blank"
                href="https://docs.google.com/document/d/12PY2Z6R2RflJbBVbvQ2_EpswMV6H6GCjYcvYR0Gj0lo/edit?usp=sharing"
                title="模板王">📄此處前往本組-期末報告書</a>
              </a>
            </li>
            <li>
              <a target="_blank"
                href="https://www.canva.com/design/DAGpr3R9RiA/isMupYdiuclHYwYruAiBpg/edit?utm_content=DAGpr3R9RiA&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton"
                title="模板王">📊此處前往本組-期末PPT簡報</a>
              </a>
            </li>
            <li>
              <a  href="javascript:void(0);" title="模板王">🎥此處前往本組-期末影片</a>
              </a>
              <!-- target="_blank" -->
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>

  <section id="footer-end">
    <div class="container">
      <p>
        113-2 AI數位人文導論課堂作品-第三組　
        本網站僅供課堂內學術研究使用，無任何商業用途

      </p>
    </div>

  </section>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <!-- main js -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/ai.js' %}"></script>
</body>

</html>